.custom-input-logo{
    width: 25px;
}

.nav-pills .nav-link.active.btn-danger{
    background-color: #dc3545;
    color: white;
    --bs-btn-color: #fff !important;
	--bs-btn-bg: #dc3545 !important;
	--bs-btn-border-color: #dc3545 !important;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #bb2d3b;
	--bs-btn-hover-border-color: #b02a37;
	--bs-btn-focus-shadow-rgb: 225, 83, 97;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #b02a37;
	--bs-btn-active-border-color: #a52834;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #dc3545;
	--bs-btn-disabled-border-color: #dc3545;
}


.coin-banner{
	max-width: 160px;
}

.chain-logo{
	width: 22px;
}


.text-bg-header{
	color: white !important;
	background-color: RGB(43, 125, 247) !important;
}



.chain-details{
	
}